clip==1.0
einops==0.8.0
gensim==4.3.2
h5py==3.9.0
lmdbdict==0.2.2
matplotlib==3.7.2
meshed_memory_transformer==0.0.1
nltk==3.8.1
numpy==1.24.3
numpy==1.24.4
open_clip_torch==2.24.0
Pillow==10.0.1
Pillow==11.0.0
projects==1.0.9
pytorch_lightning==2.0.3
PyYAML==6.0.1
PyYAML==6.0.2
scipy==1.10.1
six==1.16.0
skimage==0.0
subword_nmt==0.3.8
timm==1.0.11
torch==2.1.0
torchvision==0.16.0
tqdm==4.65.0
transformers==4.39.3
yacs==0.1.8
